<section id="detailMovie">
  <div class="container">
    <div class="section-title">
      <h1><i class="icofont icofont-film"></i>Booking Summary</h1>
    </div>
    <hr />
    <div class="details">
      <div class="row flexbox-center">
        <div class="col-lg-7">
          <div class="movieDetails-content">
            <h2>Booking Details</h2>
            <br />
            <ul>
              <li>
                <div class="movieDetail-left">Movie:</div>
                <div class="movieDetail-right">
                  <a href="#">{{ booking.show.movie.movieName }}</a>
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Show Date:</div>
                <div class="movieDetail-right">{{ booking.show.showDate }}</div>
              </li>
              <li>
                <div class="movieDetail-left">Show Start Time:</div>
                <div class="movieDetail-right">
                  {{ booking.show.showStartTime.show.showStartTime }}
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Transaction Mode:</div>
                <div class="movieDetail-right">
                  {{ booking.transactionMode }}
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Transaction Status:</div>
                <div class="movieDetail-right">
                  {{ booking.transactionStatus }}
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Total Cost:</div>
                <div class="movieDetail-right">
                  {{ booking.totalCost }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a [routerLink]="['/movie']" class="theme-btn"
        ><i class="icofont-ticket"></i>Back to MOVIES</a
      >
    </div>
  </div>
</section>
