.section-title h1 i {
  color: #fece50;
  font-size: 40px;
  margin: 0 1rem 0 1rem;
}
hr {
  margin-bottom: 1rem;
  border-top: 1px solid #ddd;
}
.custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: #fff;
  width: 100%;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.custom-container .text {
  text-align: center;
  font-size: 35px;
  -webkit-text-fill-color: transparent;
}
.custom-container form {
  padding: 30px 0 0 0;
}
.custom-container form .form-row {
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea,
.date input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

@media (max-width: 700px) {
  .custom-container .text {
    font-size: 30px;
  }
  .custom-container form {
    padding: 10px 0 0 0;
  }
  .custom-container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
}
